@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-main-500 text-white;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input {
  @apply outline-none;
}

[type='text']:focus {
  @apply ring-brown-500;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ae8048;
  border-radius: 5px;
  border: 3px solid transparent;
}
