@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/fonts/apfel-grotezk/ApfelGrotezk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/fonts/apfel-grotezk/ApfelGrotezk-Mittel.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/fonts/apfel-grotezk/ApfelGrotezk-Fett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/fonts/apfel-grotezk/ApfelGrotezk-Satt.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply bg-paper text-ink;
    overflow-x: hidden;
  }

  body {
    @apply font-apfel antialiased;
    overflow-x: hidden;
  }

  input {
    @apply outline-none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
